@using LawOffice05.Core.Models.Orders
@model AddOrderFormModel

@{
    ViewData["Title"] = "Add Case Page";
}

<div calss="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>
            
            <form method="post">
                
                <div class="mb-3">
                    <label asp-for="ProblemType" class="form-label "></label>
                    <select asp-for="ProblemType" class="form-select">
                        <option value="" selected disabled>choose your Problem Type here...</option>
                        @foreach(var probl in Model.ProblemTypeNames)
                        {
                            <option value="@probl.ProblemTypeName">@probl.ProblemTypeName</option>
                        }                        
                    </select>
                    <span asp-validation-for="ProblemType" class="small text-danger"></span>
                </div>
                <br />
                <div class="mb-3">
                    <label asp-for="UrgencyType" class="form-label"></label>
                    <select asp-for="UrgencyType" class="form-select">
                        <option value="" selected disabled>choose your Urgency Type here...</option>                        
                        <option value="It is not urgent">It is not urgent</option>
                        <option value="Urgent">Urgent</option>
                        <option value="ASAP">ASAP</option>
                    </select>
                    <span asp-validation-for="UrgencyType" class="small text-danger"></span>
                </div>
                <br />
                <div class="mb-3">
                    <label asp-for="TypeOfAnswer" class="form-label"></label>
                    <select asp-for="TypeOfAnswer" class="form-select">
                        <option value="" selected disabled>choose your Answer Type here...</option>
                        <option value="Phone call">Phone call</option>
                        <option value="e-mail">e-mail</option>
                        <option value="SMS">SMS</option>
                    </select>
                    <span asp-validation-for="TypeOfAnswer" class="small text-danger"></span>
                </div>
                <br />
                <div class="mb-3">
                    <label asp-for="ProblemDescription" class="form-label"></label>
                    @*<input asp-for="ProblemDescription" class="form-control" placeholder="Write your problem here..."/>*@
                    <textarea asp-for="ProblemDescription" class="form-control" placeholder="Write your problem here..." rows="3"></textarea>
                    <span asp-validation-for="ProblemDescription" class="small text-danger"></span>
                </div>

                @*<td>
                    <a asp-action="add" asp-controller="order" class="btn btn-block btn-outline-info btn-xs">Save</a>
                </td>*@

                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>