@using LawOffice05.Core.Models.Home
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2 class="heading-margin text-center">Добре дошли на страницата на адвокат G6</h2>

<div calss="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">




            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/01LawCorporate.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Може да продължите от тук</h5>
                            <a asp-action="info" asp-controller="home" class="btn btn-block btn-outline-info btn-xs">ПРОДЪЛЖИ</a>
                            @*<p>Some representative placeholder content for the first slide.</p>*@
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/02LawDownload.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Може да продължите от тук</h5>
                            <a asp-action="info" asp-controller="home" class="btn btn-block btn-outline-info btn-xs">ПРОДЪЛЖИ</a>
                            @*<p>Some representative placeholder content for the second slide.</p>*@
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/03LawInternational.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Може да продължите от тук</h5>
                            <a asp-action="info" asp-controller="home" class="btn btn-block btn-outline-info btn-xs">ПРОДЪЛЖИ</a>
                            @*<p>Some representative placeholder content for the third slide.</p>*@
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>



        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<br />

@*
<div class="container">
    <div class="row offset-3 col-md-6 p-3 mb-2 bg-info text-dark" >
        
            <h6 class="col-md-6 text-center fw-bold">                
                Total Active Orders: @Model.TotalActiveOrders
            </h6>
            <h6 class="col-md-6 text-center fw-bold">                
                Total Active Cases: @Model.TotalActiveCases
            </h6>
                    
    </div>
</div>
*@

<div class="container d-none" id="statistics">
    <div class="row offset-3 col-md-6 p-3 mb-2 bg-info text-dark" >
        
            <h6 class="col-md-6 text-center fw-bold" id="total-orders"></h6>
            <h6 class="col-md-6 text-center fw-bold" id="total-cases"></h6>
                    
    </div>
</div>

@section Scripts {
    <script>        
        //$.get('/api/statistics', (data) => {
        //    console.log(data);
        //})

        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-orders').text(data.totalActiveOrders + " Orders");
                $('#total-cases').text(data.totalActiveCases + " Cases");                

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}
